<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <span style="color:#333333"><span style="color:black"><code class="language-bash"><span style="color:#999999">[</span>client<span
            style="color:#999999">]</span>
default-character-set<span style="color:#9a6e3a">=</span>utf8mb4


<span style="color:#999999">[</span>mysql<span style="color:#999999">]</span>
default-character-set<span style="color:#9a6e3a">=</span>utf8mb4


<span style="color:#999999">[</span>mysqld<span style="color:#999999">]</span>
character-set-server <span style="color:#9a6e3a">=</span> utf8mb4
collation-server <span style="color:#9a6e3a">=</span> utf8mb4_unicode_ci
init_connect <span style="color:#9a6e3a">=</span> <span style="color:#669900">'SET NAMES utf8mb4'</span>
character-set-client-handshake <span style="color:#9a6e3a">=</span> <span
                style="color:#990055">false</span></code></span></span>
</div>

</body>
</html>